# EASYADMIN
setr ea_LanguageName "es"                # set our language to english
setr ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "false"            # read docs for this, dont touch it
set ea_enableCallAdminCommand "true" # enables "calladmin" command via webhook
set ea_enableReportCommand "true" # enables "report" command, see Configuration Wiki Page for More infos
add_ace group.admin easyadmin allow
setr ea_MenuButton "56"

# UTILITIES
start EasyAdmin

Database Connection String:
set mysql_connection_string "server=127.0.0.1;database=es_extended;userid=root;password="
set es_enableCustomData 1


# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# These resources will start by default.
ensure cron
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog

ensure esx_addonaccount
ensure esx_addoninventory
ensure mysql-async
ensure essentialmode
ensure extendedmode
ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog
ensure skinchanger			# Permite cambiar la ropa
ensure esx_skin				# Permite usar una skin cualquiera
ensure RealisticVehicleFailure		# Autos pueden fallar

ensure esx_joblisting			# Listado de trabajos
ensure esx_jobs				# Generador de trabajos

ensure esx_society
ensure esx_billing
ensure esx_datastore
ensure esx_license
ensure esx_service
ensure esx_identity
ensure esx_vehicleshop			# Concesionario
ensure esx_policejob			# Policia
ensure esx_garbagecrew			# Basurero
ensure esx_ambulancejob			# EMS
ensure esx_mechanicjob			# Mecanico
ensure trew_hud_ui			# HUD
ensure esx_inventoryhud			# Inventario
ensure RP-CHAT				# Comandos Chat RolePlay
ensure esx_status			
ensure esx_basicneeds			# Hambre y sed
ensure cargar				# /carry
ensure dpclothing			# Circulo Ropa
ensure handsup				# Levantar las manos con la X
ensure esx_doorlock			# Bloqueo de puertas
ensure gabz_pillbox			# Pillbox map
ensure new_banking			# Mapeo de bancos y funcionalidades
ensure esx_dmvschool-master		# Escuela de manejo
ensure show-coords

ensure No-NPC

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "root-AQ" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "Server Test"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Remove the `#` from the below line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace group.admin easyadmin allow
add_principal identifier.steam:110000108c4421d group.admin #ElTioCross
add_principal identifier.steam:110000107ad501e group.admin #Zmurf
add_principal identifier.steam:1100001090de38e group.admin #Kij
add_principal identifier.steam:11000011329f16a group.admin #Nico
add_principal identifier.fivem:1 group.admin # add the admin to the group
add_principal group.admin group.user
add_ace resource.extendedmode command.add_ace allow
add_ace resource.extendedmode command.add_principal allow
add_ace resource.extendedmode command.remove_principal allow

# enable OneSync (required for server-side state awareness)
set onesync off

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 48

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey AEB8AA3B2996243D3320349D117BD2BF

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey nek9jom8otoa9zg9irrodsvxbebtkis6

